<div>
  <h1> All Questions</h1>
  <h2 class="create"><%= link_to("Create a New Question", new_question_path)  %></h2>
<ul>
<% @questions.each do |question| %>
<li>
<%= link_to(question.title, question) %>
</li>
<% end %>
</ul>
</div>