/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.container{

  width: 600px;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: deeppink;
}

.navbar {
  background-color: black;
  height: 50px;
  padding-top: 25px;
  padding-left: 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

.navbar a {
  color: white;
  text-decoration: none;
  padding-right: 20px;
}

.navbar a:hover {
  color: deeppink;
}

.create a {
  color: black;
  text-decoration: none;
  text-align: center;

}

.create a:hover {
  color: deeppink;
}