/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.wide-area {
  width: 500px;
  height: 250px;
}
.edit-delete {
  margin-left: 540px;
}

.wide-title {
  width: 500px;
}
 .tag_box {
  display: inline-block;
  padding-right: 10px;
 }

 .tag_box label {
  float: right;
  margin-left: 5px;
 }
 .edit{
  float:left;
  padding-right: 25px
}
 
 .float-left {
  float:left;
 }
 .tags p {
  display:inline;
  font-style: italic;
 }

 .clear-fix {
  clear:both;
 }

.vote_buttons form {
  display: inline-block;
  float:left;
  padding-right: 10px;
}

.text {
  font-size: 100%;
  padding: 20px;
}


.container{
  /*text-align: center;*/
  margin:40px auto;
  margin-top: 80px;
  width: 800px;
  padding: 20px 20px 20px 20px;
  position:relative;
}

ul {
  list-style-type: none;
}

.top-nav {
  position:fixed;
  z-index: 1;
  top:0px;
  left:0px;
  right:0px;
  padding-right:20px;
  padding-left:20px;
  height:60px;
  background-color: black;
  text-align:right;
}

.top-nav a {
  position:relative;
  line-height:40px;
  color:white;
  text-decoration:none;
  margin-left:5px;
  margin-right:5px;
}

.top-nav a:hover {
  color: red;
}

.site-nav {

  position:fixed;
  z-index: 1;
  margin: -8px -8px 0px -8px;
  top:60px;
  left:0px;
  right:0px;
  padding-right:20px;
  padding-left:20px;
  height:40px;
  background-color:gray;
  text-align:center;
}

.site-nav a {
  position:relative;
  line-height:40px;
  color:white;
  text-decoration:none;
  margin-left:5px;
  margin-right:5px;  
}

.site-nav a:hover {
  color: red;
}

.home-link {
  float:left;
  font-size:20px;
}

.create a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.create a:hover {
  color: red;
}